html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Prevent the dropdown from closing when clicking inside it (optional) */
.dropdown-menu#cartDropdownMenu {
    min-width: 280px;
}

/* Custom scrollbar for the mini-cart items */
#mini-cart-items::-webkit-scrollbar {
    width: 5px;
}

#mini-cart-items::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

/* Styling the modal to appear on the right side */
#cartModal .modal-dialog {
    position: fixed;
    margin: auto;
    width: 350px;
    height: 100%;
    right: 0;
    top: 0;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

#cartModal .modal-content {
    height: 100%;
    border-radius: 0;
}

/* Animation for sliding in from the right */
#cartModal.fade .modal-dialog {
    right: -350px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

#cartModal.fade.show .modal-dialog {
    right: 0;
}